@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Playfair+Display+SC&family=IBM+Plex+Sans&display=swap');
.font-primary {
    font-family: 'Encode Sans', sans-serif;
}

.font-secondary {
    font-family: 'Playfair Display SC', serif;
}

.font-brand {
    font-family: 'IBM Plex Sans', sans-serif;
}